@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color: #EBEFF2;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
}

header nav ul {
  display: flex;
  gap: 8rem;
  list-style-type: none;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
  background-color: rgb(222, 47, 47);
}

header nav ul li a:hover::before {
  width: 100%;
}

header .login {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

#a-login {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#a-login:hover {
  transition: 0.8s ease;
  color: rgb(222, 47, 47);
}

#a-login:hover::before {
  width: 100%;
}