@media screen and (max-width: 1100px) {
  header nav ul {
    gap: 3rem;
  }

  .modelos {
    gap: 2rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    font-size: 1rem;
  }

  header nav ul {
    gap: 2.1rem;
  }

  .modelos {
    gap: 1rem;
    margin-top: -20%;
  }

  .modelos .car-modelo {
    height: 20rem;
    width: 15rem;
  }

  .modelos .car-modelo .img-car {
    width: 10rem;
    top: -4rem;
    right: 2rem;
  }
}

@media screen and (max-width: 800px) {
  header {
    display: none;
  }

  .modelos {
    margin-top: -40%;
  }

  .modelos .car-modelo {
    height: 17rem;
    width: 12rem;
  }

  .modelos .car-modelo .img-car {
    width: 10rem;
    top: -4rem;
    right: 1rem;
  }

  .footer .gradiente {
    display: none;
  }
}

@media screen and (max-width: 700px){
   .home {
    margin-bottom: -40%;
  }
}

@media screen and (max-width: 600px) {
  .modelos {
    flex-direction: column;
    gap: 5rem;
    margin-top: -60%;
  }

  .footer .sobreposicao h2 {
    font-size: 2.5rem;
  }

  .footer .sobreposicao p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .modelos {
    margin-top: -165%;
  }

  .footer .sobreposicao {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
    .footer .sobreposicao button {
      width: 90%;
    }

}