.modelos {
  display: flex;
  margin-top: 14%;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.modelos .car-modelo {
  height: 22rem;
  position: relative;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 24px;
}

.modelos .car-modelo .img-car {
  position: absolute;
  top: -7rem;
}

.modelos .car-modelo .title {
  font-size: 1.3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.modelos .car-modelo .informacao {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.modelos .car-modelo button {
  padding: 0.8rem 1rem;
  margin: 0;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}

.modelos .car-modelo button:hover{
background-color: rgb(210, 11, 11);
color: white;
transition: 0.8s;
}